/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */


body {
  background: #fcc;
  margin: 0;
 }
 /* iframe{
   display: none;
 } */

 .googleCalender{
   display:none;
 }
h1{
  padding: 40px;
  background: red;
  display:flex;
  justify-content: center;

 }
 .contactusform{
   border-style:hidden;
   align-items: center;
   justify-content: center;
   max-width: 60%;
 }


.names{
   display: flex;
   flex-direction:column;
   /* align-content: space-around;
   justify-content: center;
   flex: auto; */
 }

form{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 85%;
  box-sizing: border-box;
  background: darkblue;
  border-radius: 10px 10px 10px 10px;

 }

fieldset{
  display: flex;
  justify-content: center;
  flex: auto;
  border: 0px;
  width: auto;
}
main{
  display: flex;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  justify-content: center;
  float: none;
  box-sizing: border-box;
 }
/*
body {
  background: #fcc;
  margin: 0;
} */
nav {
  display: none;
  clear: both;
  justify-content: center;
  background: #333;
  flex-direction: column;
  font: verdana;
}
nav a {
  padding: 1.25em 1.5em;
  color: #ccc;
  background: #333;
  text-decoration: none;
  transition: all 1.5s;
  font-family: verdana;
}


.buttons{
  max-width: 60%;
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  margin: auto;
  flex-direction: row;
  align-items: center;
}
.menu {
  display: flex;
  background: #333;
  text-align: left;
  color: #fff;
  line-height: 2em;
  padding-left: 4px;
  font-family: verdana;
}
.menu-toggle {
  display: flex;
}

.eventDates{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eventBanner{
  display: inline;
  /* justify-content: center;
  align-items: center; */
  border-style: solid;
  width: 75%;
  position: relative;
  background-color: black;
}

.comingUp{
  display: flex;
  justify-content: center;
}

.bannerImg{
  /* display: flex; */
  display: inline;
  width: 100%;
  height: auto;
  /* float: left; */
  /* justify-content: center;
  align-content: center; */

}

.eventBanner, .bannerImg{
  width:100%;
  margin: 0;
}
.eventBanner{
  width: 75%;
  text-decoration: none;
  color: white;
}

/* .bannerImg{
  display: inline-flex;
} */

/* wweLogo{
    ali
} */
span.description{
  display: none;
  text-decoration: none;

}

span.title{
  /* background-color: white; */
  color: white;
  font-family: arial;
  font-weight: 800;
  display: block;
  text-align: center;
  text-decoration: none;
}

span.event-desc{
  display: block;
  background-color: red;
  position: relative;
  width: 100%;
}

a{
  text-decoration: none;
}


/* .mainEventPage{
  justify-content: ;
} */



/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: #4d4a47;
  }

  .menu {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
  }
  /* just change the menu colours on hover above mobile widths */
  nav a:hover {
    color: #dfd;
    background: #797;
  }
  .names{
    display: flex;
    flex-direction:row;
    align-content: space-around;
    justify-content: center;
    flex: auto;
    font-size: 1.4em;
  }

  fieldset{
    font-size: 1.4em;
  }


  .buttons{
    font-size: 1.4em;
  }

  .eventBanner{
    width: 75%;
  }
  span.description{
    display: inline;
    /* text-align: right; */
    color: white;
    font-family: arial;
    text-decoration: none;
    font-size: 0.9em;

  }

  .eventBanner, .bannerImg{
    margin-top: 30px;
  }

  /* span.title{
    width: 100%;
  } */
  span.event-Desc{
    /* width: 100%; */
    margin-top: 0;
    position: absolute;
  }



  /* input[type="date"] {
  font-family: inherit;
  font-size: 1em;
  color: inherit;
} */


}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }

  form{
    width: 70%
  }
  .eventDates{
    display: none;
  }
  /* input[type="date"] {
  font-family: inherit;
  font-size: 1em;
  color: inherit;
  display: none;
} */
  /* iframe{
    display: flex;
  } */

  .googleCalender{
    display:flex;
    /* justify-content: flex-end; */
    float: right;
    margin-right: 5%;
  }
  .eventBanner{
    /* display: flex; */
    float: left;
    align-items: center;
    border-style: solid;
    width: 80%;
    margin-left: 5%;
  }

  /* .comingUp{
    display: flex;
    justify-content: flex-start;
  } */


}
